body {
  background-color: white;
}

.title {
  color: brown;
  font-weight: bold;
  text-align: center;
}

.title-2 {
  color: brown;
  text-align: center;
}
.title-3 {
  color: brown;
  text-align: center;
  font-weight: bold;

}
p {
  color: gray;
  text-align: center;
  font-weight: bold;

}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
img {
	border: 1px solid grey;
  box-shadow: 15px 15px 20px 0px rgba(153,153,153,1);
  border-radius: 20px;
}
